/*! name: vanilla-calendar-pro | url: https://github.com/uvarov-frontend/vanilla-calendar-pro */
[data-calendar-theme="light"].vanilla-calendar {
	--transparent: transparent;
	--border: #dbdee3;
	--surface: #ffffff;
	--surface-highlight: #f3f8ff;
	--action-primary: #1a6dff;
	--action-primary-hover: #70a2ff;
	--action-primary-disabled: rgb(115 120 130 / 0.15);
	--action-secondary: #ffffff;
	--action-secondary-hover: #f8f9fb;
	--text: #15181e;
	--text-disabled: #bcc0c6;
	--text-secondary: #717680;
	--text-on: #ffffff;
	--text-sub: #717680;
	--focus: #1a6dff;
	--icon-sub: #717680;

	background-color: var(--surface);
	color: var(--text);
}

[data-calendar-theme="light"] .vanilla-calendar-arrow {
	background-color: var(--action-secondary);
	border-color: var(--border);
}

[data-calendar-theme="light"] .vanilla-calendar-arrow:hover {
	background-color: var(--action-secondary-hover);
}

[data-calendar-theme="light"] .vanilla-calendar-arrow:before {
	background-color: var(--icon-sub);
}

[data-calendar-theme="light"] .vanilla-calendar-arrow:hover:before {
	background-color: var(--icon-sub);
}

[data-calendar-theme="light"] .vanilla-calendar-header__content,
[data-calendar-theme="light"] .vanilla-calendar-month,
[data-calendar-theme="light"] .vanilla-calendar-year {
	color: var(--text);
}

[data-calendar-theme="light"] .vanilla-calendar-month:hover,
[data-calendar-theme="light"] .vanilla-calendar-year:hover {
	color: var(--text);
}

[data-calendar-theme="light"] .vanilla-calendar-month.vanilla-calendar-month_not-active,
[data-calendar-theme="light"] .vanilla-calendar-year.vanilla-calendar-year_not-active {
	color: var(--text-disabled);
}

[data-calendar-theme="light"] .vanilla-calendar-month.vanilla-calendar-month_disabled,
[data-calendar-theme="light"] .vanilla-calendar-year.vanilla-calendar-year_disabled {
	color: var(--text-disabled);
}

[data-calendar-theme="light"] .vanilla-calendar-months__month {
	background-color: var(--action-secondary);
	color: var(--text);
}

[data-calendar-theme="light"] .vanilla-calendar-months__month:hover {
	background-color: var(--surface-highlight);
}

[data-calendar-theme="light"]
.vanilla-calendar-months__month.vanilla-calendar-months__month_selected {
	background-color: var(--action-primary);
	color: var(--text-on);
}

[data-calendar-theme="light"]
.vanilla-calendar-months__month.vanilla-calendar-months__month_selected:hover {
	background-color: var(--action-primary-hover);
}

[data-calendar-theme="light"]
.vanilla-calendar-months__month.vanilla-calendar-months__month_disabled,
[data-calendar-theme="light"]
.vanilla-calendar-months__month.vanilla-calendar-months__month_disabled:hover {
	color: var(--text-disabled);
}

[data-calendar-theme="light"] .vanilla-calendar-years__year {
	background-color: var(--action-secondary);
	color: var(--text);
}

[data-calendar-theme="light"] .vanilla-calendar-years__year:hover {
	background-color: var(--surface-highlight);
}

[data-calendar-theme="light"] .vanilla-calendar-years__year.vanilla-calendar-years__year_selected {
	background-color: var(--action-primary);
	color: var(--text-on);
}

[data-calendar-theme="light"]
.vanilla-calendar-years__year.vanilla-calendar-years__year_selected:hover {
	background-color: var(--action-primary-hover);
}

[data-calendar-theme="light"] .vanilla-calendar-years__year.vanilla-calendar-years__year_disabled,
[data-calendar-theme="light"]
.vanilla-calendar-years__year.vanilla-calendar-years__year_disabled:hover {
	color: var(--text-disabled);
}

[data-calendar-theme="light"] .vanilla-calendar-week-numbers__title,
[data-calendar-theme="light"] .vanilla-calendar-week-number {
	color: #64748b;
}

[data-calendar-theme="light"] .vanilla-calendar-week-number:hover {
	color: #475569;
}

[data-calendar-theme="light"] .vanilla-calendar-week__day {
	color: var(--text-sub);
}

[data-calendar-theme="light"] .vanilla-calendar-week__day_weekend {
	color: #f43f5e;
}

[data-calendar-theme="light"] .vanilla-calendar-day::before {
	background-color: var(--surface-highlight);
}

[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected:hover {
	background-color: rgb(244 63 94 / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.7;
	color: #fff;
}

[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(226 232 240 / var(--tw-bg-opacity));
	color: #64748b;
}

[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_selected:hover {
	background-color: var(--surface-highlight);
	color: var(--text);
}

[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_prev,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_next,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_prev:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day_selected-intermediate
.vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_next:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(226 232 240 / var(--tw-bg-opacity));
	color: #64748b;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn {
	background-color: var(--action-secondary);
	color: var(--text);
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn:hover {
	background-color: var(--action-secondary-hover);
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_today::before {
	background-color: var(--focus);
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_today.vanilla-calendar-day__btn_selected::before {
	background-color: transparent;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_today.vanilla-calendar-day__btn_prev,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_today.vanilla-calendar-day__btn_next {
	color: #64748b;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_prev,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_next {
	color: #94a3b8;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_disabled {
	color: var(--text-disabled);
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_hover {
	background-color: var(--surface-highlight);
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday {
	color: #f43f5e;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend:hover,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday:hover,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_hover,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_hover {
	--tw-bg-opacity: 1;
	background-color: rgb(255 241 242 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_disabled,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_disabled {
	color: #cbd5e1;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_today,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_today {
	color: #f43f5e;
}

[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_today.vanilla-calendar-day__btn_disabled,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_today.vanilla-calendar-day__btn_disabled {
	color: #cbd5e1;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	color: #94a3b8;
}

[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_hover {
	--tw-bg-opacity: 1;
	background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_today,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_today,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_today,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_today {
	color: #94a3b8;
}

[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_disabled,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_disabled,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_disabled,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_disabled {
	color: #cbd5e1;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(244 63 94 / var(--tw-bg-opacity));
	color: #fff;
}

[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next.vanilla-calendar-day__btn_selected:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(203 213 225 / var(--tw-bg-opacity));
	color: #64748b;
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected {
	background-color: var(--action-primary);
	color: var(--text-on);
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected:hover {
	background-color: var(--action-primary-hover);
}

[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_prev,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_next,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_prev:hover,
[data-calendar-theme="light"]
.vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_next:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(203 213 225 / var(--tw-bg-opacity));
	color: #64748b;
}

[data-calendar-theme="light"] .vanilla-calendar-day__popup {
	color: #0f172a;
}

[data-calendar-theme="light"] .vanilla-calendar-day__popup:before {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	--tw-shadow: 0 3px 15px rgba(85, 85, 85, 0.2);
	--tw-shadow-colored: 0 3px 15px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
	var(--tw-shadow);
}

[data-calendar-theme="light"] .vanilla-calendar-day__popup:after {
	border-bottom-color: #fff;
}

[data-calendar-theme="light"] .vanilla-calendar-time {
	border-color: #cbd5e1;
}

[data-calendar-theme="light"] .vanilla-calendar-time__hours:after {
	content: var(--tw-content);
	color: #0f172a;
}

[data-calendar-theme="light"] .vanilla-calendar-time__hours input,
[data-calendar-theme="light"] .vanilla-calendar-time__minutes input {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	color: #0f172a;
}

[data-calendar-theme="light"] .vanilla-calendar-time__hours input:hover,
[data-calendar-theme="light"] .vanilla-calendar-time__minutes input:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(255 237 213 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__hours input:focus-visible,
[data-calendar-theme="light"] .vanilla-calendar-time__minutes input:focus-visible {
	outline-color: #fdba74;
}

[data-calendar-theme="light"] .vanilla-calendar-time__hours input.vanilla-calendar-is-focus,
[data-calendar-theme="light"] .vanilla-calendar-time__minutes input.vanilla-calendar-is-focus {
	--tw-bg-opacity: 1;
	background-color: rgb(255 237 213 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__keeping {
	color: #64748b;
}

[data-calendar-theme="light"] .vanilla-calendar-time__keeping:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(255 237 213 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__keeping:focus-visible {
	outline-color: #fdba74;
}

[data-calendar-theme="light"] .vanilla-calendar-time__range input {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__range:before,
[data-calendar-theme="light"] .vanilla-calendar-time__range:after {
	--tw-bg-opacity: 1;
	background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__range:hover input::-webkit-slider-thumb {
	border-color: #94a3b8;
}

[data-calendar-theme="light"] .vanilla-calendar-time__range:hover input::-moz-range-thumb {
	border-color: #94a3b8;
}

[data-calendar-theme="light"]
.vanilla-calendar-time__range
input:focus-visible::-webkit-slider-thumb {
	border-color: #fdba74;
}

[data-calendar-theme="light"] .vanilla-calendar-time__range input:focus-visible::-moz-range-thumb {
	border-color: #fdba74;
}

[data-calendar-theme="light"] .vanilla-calendar-time__range input::-webkit-slider-thumb {
	border-color: #cbd5e1;
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__range input::-moz-range-thumb {
	border-color: #cbd5e1;
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__range input::-webkit-slider-runnable-track {
	--tw-bg-opacity: 1;
	background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

[data-calendar-theme="light"] .vanilla-calendar-time__range input::-moz-range-track {
	--tw-bg-opacity: 1;
	background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

/* 추가 */
.vanilla-calendar-day_selected-first:not(:empty),
.vanilla-calendar-day_selected-last:not(:empty) {
	background-color: var(--surface-highlight);
}

.vanilla-calendar-day_selected-first:not(:empty).vanilla-calendar-day_selected-last:not(:empty) {
	background-color: var(--transparent);
}

.vanilla-calendar-day_hover-first:not(:empty),
.vanilla-calendar-day_hover-last:not(:empty) {
	background-color: var(--surface-highlight);
}

.vanilla-calendar-day_hover-first:not(:empty).vanilla-calendar-day_hover-last:not(:empty) {
	background-color: var(--transparent);
}
